<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to Awesome Answers</h1>
  </div>
</div>

<div class="container-fluid">
	<div class="row text-center padding">
		<div class="col-xs-12 col-sm-6">
        <div class="icon my-4">
		<%= link_to fa_icon('question 5x'), root_path %>
        </div>
			<h3>Question</h3>
			<p class="lead">You can ask whatever you want!</p>
		</div>
		<div class="col-xs-12 col-sm-6">
        <div class="icon my-4">
         <%= link_to fa_icon('users 5x'), root_path %>
         </div>
				<h3>Users</h3>
				<p class="lead">Thousounds of users will answer your questions</p>
		</div>
	</div>
	<hr class="my-4">
</div>
    